body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 0;
    font-family: 'Shadows Into Light', cursive;
    font-size: 60px;
}

a.one:link, a.one:visited {
    color: white;
}

a.one:hover {
    color: orange;
}

a.two:link, a.two:visited {
    color: white;
}

a.two:hover {
    color: orange;
}

.footer-link {
    padding: 0 10px;
}

hr {
    color: #2C3333;
    border: solid 3px;
    margin: 0;
}

.white {
    color: white;
}

p {
    padding: 0 35%;
}

.navbar {
    background-color: #2E4F4F;
    margin: 0;
    padding: 10px;
    display: block;

}

.navlist {
    display: inline-block;
    padding: 5px;
}

.top-container {
    background-color: #CBE4DE;
    position: relative;
    padding-top: 100px;
}

.middle-container {

}

.bottom-container {
    background-color: #0E8388;
    margin: 0;
    border: 0;
    padding: 0;
}

.bottomcloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.topcloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.imgsmall {
    width: 200px;
}

.imgmntnadj {
    position: relative;
    top: 4px;
}

ul {
    list-style-position: inside;
    list-style-type: disc;
}
