body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 0;
    font-family: 'Shadows Into Light', cursive;
    font-size: 60px;
}

.top-container {
    background-color: #CBE4DE;
    position: relative;
    padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.bottomcloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.topcloud {
    position: absolute;
    right: 300px;
    top: 50px;
}